* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: "Poppins", sans-serif;
}

.header {
        display: grid;
        grid-template-columns: 2fr 2fr;
        background-color: #2d25a0;
        color: cornsilk;
        width: 100%;
}

.left {
        margin: 125px 0px;
        width: 50%;
        margin-left: 100px;
}

.right {
        margin: 100px 0px;
        margin-right: 200px;
        width: 50%;
        border-width: 1px;
        display: block;
        background-color: #2d25a0;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.header:hover .right {
        transform: rotate(360deg);
        transition-delay: 100ms;
}

.right img {
        width: 100%;
}

.header a {
        text-decoration: none;
        font-weight: 500;
        background-color: #e02c6d;
        border-radius: 5%;
        padding: 10px 15px;
        color: cornsilk;
}

.header a:hover {
        box-shadow: 5px 5px 15px #6087dd;
        transition: 1s;
}

.main {
        border: gray;
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 5px;
        justify-content: space-evenly;
}

.players img {
        width: 100%;
        padding-right: 10px;
        padding-top: 5px;
}

.players {
        width: 70%;
        padding-left: 10px;
        margin-left: 30%;
        margin-top: 10%;
        box-shadow: 15px 15px 50px gray
}

.footer {
        display: grid;
        grid-template-rows: 4fr 4fr 4fr;
        width: 100%;
        margin-top: 150px;
}

.image {
        display: flex;
}

.img {
        margin: auto;
        padding-right: 70px;
}

.footer p {
        font-weight: 600;
}

.ra {
        width: 100%;
        display: flex;
        padding-bottom: 90px;
}

.na {
        list-style: none;
        width: fit-content;
        margin: auto;
        text-align: center;
}

.na>li {
        display: inline-block;
        border: 1px solid#325733;
        border-radius: 20%;
        width: 33px;
}

.na>li>a {
        text-decoration: none;
        display: block;
        line-height: 33px;
        color: black;
}

.na>li:hover .fb {
        background: #4867aa;
        border-radius: 20%;
        transition: 100ms;
}

.na>li:hover .tw {
        background: #1da1f2;
        border-radius: 20%;
        transition: 100ms;
}

.na>li:hover .ln {
        background: #0077b5;
        border-radius: 20%;
        transition: 100ms;
}

.na>li:hover .go {
        background: #d75348;
        border-radius: 20%;
        transition: 100ms;
}

.na>li:hover .yt {
        background: #ff0000;
        border-radius: 20%;
        transition: 100ms;
}

.copyright {
        display: flex;
        margin-bottom: 100px;
        position: relative;
        bottom: 50%;
}

.pg {
        margin: auto;
}